:root {
    --light-color: #ADDAEF;
    --mid-color: #97BFD1;
    --dark-color: #479CC6;
}

@media (max-width: 1100px) {
    .container {
        /* overflow-x: hidden; */
    }
    #mainform ul {
        flex-direction: column;
    }
    .totals-bar div.box {
        text-align: center;
        width: 25%;
        margin: auto;
        padding: 0;
    }
    #mainform ul.main-row.totals-bar li {
        padding: 0;
        margin: 0;
    }
    #mainform ul li.vertical-label {
        writing-mode: unset;
        padding: 5px;
        margin: 0;
        font-weight: bold;
        border: none;
        border-right: 5px solid var(--mid-color);
        border-radius: 10px;
        
    }
    #mainform li.company-info {
        display: none;
    }
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    background: #479CC6;
    padding: .2em 2em;

}


nav li {
    /* flex: 1; */
    /* text-align: center; */
    border: solid white;
    background: red;
}

ul.messages {
    flex-direction: column;
    justify-content: center;
	top: 0;
	position: fixed;
  border: none;
}

ul.messages li {
    justify-content: center;
    text-align: center;
    margin-bottom: -1.5em;
}

ul.messages li.success {
    color: green;
}

ul.messages li.error {
    color: red;
}

#mainform ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

#mainform span.td {
    min-width: 70px;
}

ul.main-row {
    margin: 2em 0;
}

#mainform li {
    border: solid 2px var(--dark-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 0;
}

.noborder {
    border: none!important;
}

#mainform td {
    min-width: 20px;
}
#mainform input {
    width: 90%;
}

#mainform input.double {
    width: 40%;
}

#mainform ul.form-container {
    flex-flow: column wrap;
}

#mainform .col {
    flex-direction: column;
    min-width: 500px;
    height: 100%;
    padding: 0 .5em;
}

#mainform .col.thirds {
    min-width: 200px;
}

#mainform li.top-half {
    flex-direction: row;
}

#mainform ul.topleft {
    /* justify-content: left; */
}

#mainform ul.topright {
    /* justify-content: right; */
}

#mainform li.bottom-half {
    flex-direction: row;
}


#mainform li.vertical-label {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 1em .5em;
    letter-spacing: 1em;
    background: var(--mid-color);
}

#mainform li.basic-table {
    width: 100%;
    padding: 5px;
}

#mainform li.basic-table.labeled-table {
    border-radius: 0 10px 10px 0;
}

#mainform li.vertical-label {
    border-radius: 10px 0 0 10px;
    border-right: none;
}


#mainform li.math-separator {
    font-size: 3em;
    margin: 0 .5em;
    padding-top: 2.5%;
    border: none;
    text-align: center;
}

#mainform ul.totals-bar {
    padding: 0;
    margin: -57px;
    border: none;
}

div.box {
    border: solid #479CC6 1px;
    border-radius: 7px;
    text-align: right;
    font-size: 1.5em;
    margin: .2em;
    padding: .2em;
    min-width: 150px;
}

div.box.total {
    border: solid #479CC6 2px;
}

.box-label {
    text-align: center;
}

form.tr, div.tr {
    display:table-row;
}

span.td {
    display:table-cell;
}

div.tr.shortform span.td.second {
    width: 50%;
}


#mainform li.company-info {
    border: none;
}


#mainform li.table-header {
    border: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: -10px;
}

#mainform li.table-container {
    border: none;
    margin: 0;
    padding: 0;
}

#mainform textarea {
    height: 50px;
    width: 91%
}

#mainform li.blue-table span.first {
    background: var(--light-color);
}

#mainform li.blue-table span.td {
    padding-left: 5px;
    max-width: 177px;
}

#mainform li.basic-table.blue-table {
    padding: 0;
}
