h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    background: #479CC6;
    padding: .2em 2em;

}


nav li {
    /* flex: 1; */
    /* text-align: center; */
    border: solid white;
    background: red;
}

#mainform ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

ul.main-row {
    margin: 2em 0;
}

#mainform li {
    border: solid 1px black;
}

#mainform td {
    min-width: 20px;
}
#mainform input {
    width: 90%;
}

#mainform input.double {
    width: 40%;
}

#mainform ul.form-container {
    flex-flow: column wrap;
}

#mainform .col {
    flex-direction: column;
    min-width: 500px;
    height: 100%;
    padding: 0 .5em;
}

#mainform .col.thirds {
    min-width: 200px;
}

#mainform li.top-half {
    flex-direction: row;
}

#mainform ul.topleft {
    /* justify-content: left; */
}

#mainform ul.topright {
    /* justify-content: right; */
}

#mainform li.bottom-half {
    flex-direction: row;
}


#mainform li.vertical-label {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 1em .5em;
    letter-spacing: 1em;
}

#mainform li.basic-table {
    width: 100%;
}


li.math-separator {
    font-size: 3em;
    margin: 0 .5em;
    padding-top: 1%;
}

div.box {
    border: solid #479CC6 1px;
    border-radius: 7px;
    text-align: right;
    font-size: 1.5em;
    margin: .2em;
    padding: .2em;
    min-width: 150px;
}

div.box.total {
    border: solid #479CC6 2px;
}


.box-label {
    text-align: center;
}

div.table  {
    display:table;
}

form.tr, div.tr {
    display:table-row;
}

span.td {
    display:table-cell;
}
