h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    background: blue;
    padding: .2em 2em;

}


nav li {
    /* flex: 1; */
    /* text-align: center; */
    border: solid white;
    background: red;
}

#mainform ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

#mainform li {
    border: solid 1px black;
}

#mainform ul.form-container {
    flex-direction: column;
}

#mainform .col {
    flex-direction: column;
    min-width: 500px;
    height: 100%;
}

#mainform li.top-half {
    flex-direction: row;
}

#mainform ul.topleft {
    /* justify-content: left; */
}

#mainform ul.topright {
    /* justify-content: right; */
}

#mainform li.bottom-half {
    flex-direction: row;
}
