<!DOCTYPE html>
{% load static %}
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>車販売請求書システム</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
		<!-- <script type="text/javascript" src="{% static 'jsfile.js' %}"></script> -->

		{% block additional_header %}{% endblock %}
	</head>

	<body class="container">
		<nav>
			<ul>
				<li><a href="{% url 'create_new_order' %}">作成</a></li>
				<li><a href="{% url 'order_list' %}">過去の見積書</a></li>
			</ul>
		</nav>
		<div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<footer class="footer">
		{% block extra_footer %}
		{% endblock %}
	</footer>
</html>
