{% extends "base.html" %}
{% load hanbai_extras %}

{% block content %}
<div id="mainform">
	<ul class="form-container">

		<li>
			<ul class="main-row top-half">
				<ul class="topleft col">
					<li class="form-header">
						<h1>注文書</h1>
					</li>
					<li class="table-header">車輌明細</li>
					<li class="basic-table">
						<form>
							<table>
								<tr>
									{{ vehicle_info_form.car_name|as_columns|safe }}
								</tr>
								<tr>
									<td>年式</td>
									<td>
										{{ vehicle_info_form.model_year }}
										{{ vehicle_info_form.model_month }}
									</td>
									{{ vehicle_info_form.color|as_columns|safe }}
								</tr>
								<tr>
									{{ vehicle_info_form.car_model|as_columns|safe }}
									{{ vehicle_info_form.model_number|as_columns|safe }}
								</tr>
								<tr>
									{{ vehicle_info_form.distance_traveled|as_columns|safe }}
									{{ vehicle_info_form.registration_number|as_columns|safe }}
								</tr>
								<tr>
									{{ vehicle_info_form.engine_displacement|as_columns|safe }}
									<td>車検</td>
									<td>
										{{ vehicle_info_form.inspection_year }}
										{{ vehicle_info_form.inspection_month }}
									</td>
								</tr>
								<tr>
									<td>納車予定</td>
									<td>
										{{ vehicle_info_form.expected_delivery_year }}
										{{ vehicle_info_form.expected_delivery_month }}
									</td>
								</tr>
								<tr>
									{{ vehicle_info_form.doors|as_columns|safe }}
								</tr>
								<tr>
									{{ vehicle_info_form.extra_equipment|as_columns|safe }}
								</tr>
							</table>
						</form>
					</li>
					<li class="table-header">下取車</li>
					<li class="basic-table">
						<form>
							<table>
								<tr>
									{{ previous_vehicle_form.car_name|as_columns|safe }}
								</tr>
								<tr>
									{{ previous_vehicle_form.model_number|as_columns|safe }}
									<td>年式</td>
									<td>
										{{ previous_vehicle_form.model_year }}
										{{ previous_vehicle_form.model_month }}
									</td>
								</tr>
								<tr>
									{{ previous_vehicle_form.registration_number|as_columns|safe }}
									<td>車検</td>
									<td>
										{{ previous_vehicle_form.inspection_year }}
										{{ previous_vehicle_form.inspection_month }}
									</td>
								</tr>
								<tr>
									{{ previous_vehicle_form.owner|as_columns|safe }}
									{{ previous_vehicle_form.car_model|as_columns|safe }}
								</tr>
								<tr>
									{{ previous_vehicle_form.model_specification|as_columns|safe }}
									{{ previous_vehicle_form.classification|as_columns|safe }}
								</tr>
							</table>
						</form>
					</li>
				</ul>
				<ul class="topright col">
					<li class="comapny-info">
						★あなたの愛車のトータルアドバイザー★<br />
						〒018-0841<br />
						オートサービス佐々木<br />
						有利本荘市加賀沢字加賀沢４５<br />
						ＴＥＬ６６ー２１０４<br />
						ＦＡＸ６６ー２１８５
					</li>
					<li class="labeled-table">
						<ul>
							<li class="vertical-label">ご購入者</li>
							<li>
								<table>
									<tr>{{ customer_info_form.name_furi|as_columns|safe }}</tr>
									<tr>{{ customer_info_form.name|as_columns|safe }}</tr>
									<tr>{{ customer_info_form.birthday|as_columns|safe }}</tr>
									<tr>{{ customer_info_form.postal_code|as_columns|safe }}</tr>
									<tr>{{ customer_info_form.address|as_columns|safe }}</tr>
									<tr>
										<td>連絡先</td>
										<td>{{ customer_info_form.contact_name }}</td>
										<td>Tel: {{ customer_info_form.contact_phone }}</td>
									</tr>
								</table>
						</ul>
					</li>
					<li>
						<ul>
							<li class="vertical-label">登録名義人</li>
							<li>
								<table>
									<tr>{{ registered_holder_info_form.name_furi|as_columns|safe }}</tr>
									<tr>{{ registered_holder_info_form.name|as_columns|safe }}</tr>
									<tr>
										<td>〒</td>
										<td>{{ registered_holder_info_form.postal_code }}</td>
										<td>Tel</td>
										<td>{{ registered_holder_info_form.phone }}</td>
									</tr>
									<tr>{{ registered_holder_info_form.address|as_columns|safe }}</tr>
								</table>
						</ul>
					</li>
				</ul>

			</ul>
		</li>
		<li>
			<ul class="main-row totals-bar">
				<li>
					<div class="box-label">お支払い現金合計</div>
					<div class="box total">2,221,000</div>
				</li>
				<li class="math-separator">=</li>
				<li>
					<div class="box-label">車輌販売価額</div>
					<div class="box">2,221,000</div>
				</li>
				<li class="math-separator">+</li>
				<li>
					<div class="box-label">諸費用合計</div>
					<div class="box">2,221,000</div>
				</li>
				<li class="math-separator">+</li>
				<li>
					<div class="box-label">消費税合計</div>
					<div class="box">2,221,000</div>
				</li>
				<li class="math-separator">-</li>
				<li>
					<div class="box-label">下取車価額</div>
					<div class="box">2,221,000</div>
				</li>
			</ul>
		</li>

		<li>
			<ul class="main-row bottom-half">
				<ul class="bottom-col-1 col thirds">
					<li>
						Col1
					</li>
				</ul>
				<ul class="bottom-col-2 col thirds">
					<li class="labeled-table">
						<ul>
							<li class="vertical-label">税金・保険量</li>
							<li>
								<table>
									{{ customer_info_form.name|as_columns|safe }}
								</table>
							</li>
						</ul>
					</li>
					<li class="labeled-table">
						<ul>
							<li class="vertical-label">消費税課税対象</li>
							<li>
								<table>
								</table>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="bottom-col-3 col thirds">
					<li>
						Col3
					</li>
				</ul>
			</ul>
		</li>

		<li class="form-footer">
		</li>
	</ul>
</div>

{% endblock %}

{% block extra_footer %}
<script>
</script>
{% endblock %}
