{% extends "base.html" %}

{% block content %}
<div id="mainform">
	<ul class="form-container">

		<li>
			<ul class="top-half">
				<ul class="topleft col">
					<li class="form-header">
						<h1>注文書</h1>
					</li>
				</ul>
				<ul class="topright col">
					<li class="comapny-info">
						★あなたの愛車のトータルアドバイザー★<br />
						〒018-0841<br />
						オートサービス佐々木<br />
						有利本荘市加賀沢字加賀沢４５<br />
						ＴＥＬ６６ー２１０４<br />
						ＦＡＸ６６ー２１８５
					</li>
				</ul>

			</ul>
		</li>

		<li>
			<ul class="bottom-half">
				<ul class="bottom-col-1">
					<li>
						Col1
					</li>
				</ul>
				<ul class="bottom-col-2">
					<li>
						Col2
					</li>
				</ul>
				<ul class="bottom-col-3">
					<li>
						Col3
					</li>
				</ul>
			</ul>
		</li>

		<li class="form-footer">
		</li>
	</ul>
</div>

{% endblock %}

{% block extra_footer %}
<script>
</script>
{% endblock %}
